unacloudIaaS2.0/src/java/META-INF/wsdl/localhost_80/TemplateOperationsService/TemplateOperations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wss.losandes.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wss.losandes.com/" name="TemplateOperationsService">
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="TemplateOperationsPortBinding_turnOffVirtualMachine_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="TemplateOperationsPortBinding_getTemplateLists_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns2:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="TemplateOperationsPortBinding_turnOnVirtualCluster_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns3:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="TemplateOperationsPortBinding_getVirtualMachineExecutions_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns4:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://wss.losandes.com/" schemaLocation="http://localhost:80/TemplateOperationsService/TemplateOperations?xsd=1" />
</xsd:schema>
</types>
<message name="getVirtualMachineExecutions">
<part name="parameters" element="tns:getVirtualMachineExecutions" />
</message>
<message name="getVirtualMachineExecutionsResponse">
<part name="parameters" element="tns:getVirtualMachineExecutionsResponse" />
</message>
<message name="turnOnVirtualCluster">
<part name="parameters" element="tns:turnOnVirtualCluster" />
</message>
<message name="turnOnVirtualClusterResponse">
<part name="parameters" element="tns:turnOnVirtualClusterResponse" />
</message>
<message name="turnOffVirtualMachine">
<part name="parameters" element="tns:turnOffVirtualMachine" />
</message>
<message name="turnOffVirtualMachineResponse">
<part name="parameters" element="tns:turnOffVirtualMachineResponse" />
</message>
<message name="getTemplateLists">
<part name="parameters" element="tns:getTemplateLists" />
</message>
<message name="getTemplateListsResponse">
<part name="parameters" element="tns:getTemplateListsResponse" />
</message>
<portType name="TemplateOperations">
<operation name="getVirtualMachineExecutions">
<input wsam:Action="http://wss.losandes.com/TemplateOperations/getVirtualMachineExecutionsRequest" message="tns:getVirtualMachineExecutions" />
<output wsam:Action="http://wss.losandes.com/TemplateOperations/getVirtualMachineExecutionsResponse" message="tns:getVirtualMachineExecutionsResponse" />
</operation>
<operation name="turnOnVirtualCluster">
<input wsam:Action="http://wss.losandes.com/TemplateOperations/turnOnVirtualClusterRequest" message="tns:turnOnVirtualCluster" />
<output wsam:Action="http://wss.losandes.com/TemplateOperations/turnOnVirtualClusterResponse" message="tns:turnOnVirtualClusterResponse" />
</operation>
<operation name="turnOffVirtualMachine">
<input wsam:Action="http://wss.losandes.com/TemplateOperations/turnOffVirtualMachineRequest" message="tns:turnOffVirtualMachine" />
<output wsam:Action="http://wss.losandes.com/TemplateOperations/turnOffVirtualMachineResponse" message="tns:turnOffVirtualMachineResponse" />
</operation>
<operation name="getTemplateLists">
<input wsam:Action="http://wss.losandes.com/TemplateOperations/getTemplateListsRequest" message="tns:getTemplateLists" />
<output wsam:Action="http://wss.losandes.com/TemplateOperations/getTemplateListsResponse" message="tns:getTemplateListsResponse" />
</operation>
</portType>
<binding name="TemplateOperationsPortBinding" type="tns:TemplateOperations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getVirtualMachineExecutions">
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_getVirtualMachineExecutions_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_getVirtualMachineExecutions_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_getVirtualMachineExecutions_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="turnOnVirtualCluster">
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="turnOffVirtualMachine">
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOffVirtualMachine_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOffVirtualMachine_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOffVirtualMachine_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="getTemplateLists">
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_getTemplateLists_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_getTemplateLists_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#TemplateOperationsPortBinding_getTemplateLists_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TemplateOperationsService">
<port name="TemplateOperationsPort" binding="tns:TemplateOperationsPortBinding">
<soap:address location="http://localhost:80/TemplateOperationsService/TemplateOperations" />
</port>
</service>
</definitions>