unacloudIaaS2.0/src/java/META-INF/wsdl/localhost_80/TemplateOperationsService/TemplateOperations.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://wss.losandes.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wss.losandes.com/">

<xs:element name="getTemplateLists" type="tns:getTemplateLists" />

<xs:element name="getTemplateListsResponse" type="tns:getTemplateListsResponse" />

<xs:element name="getVirtualMachineExecutions" type="tns:getVirtualMachineExecutions" />

<xs:element name="getVirtualMachineExecutionsResponse" type="tns:getVirtualMachineExecutionsResponse" />

<xs:element name="turnOffVirtualMachine" type="tns:turnOffVirtualMachine" />

<xs:element name="turnOffVirtualMachineResponse" type="tns:turnOffVirtualMachineResponse" />

<xs:element name="turnOnVirtualCluster" type="tns:turnOnVirtualCluster" />

<xs:element name="turnOnVirtualClusterResponse" type="tns:turnOnVirtualClusterResponse" />

<xs:complexType name="turnOnVirtualCluster">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
<xs:element name="templateID" type="xs:int" />
<xs:element name="size" type="xs:int" />
<xs:element name="ram" type="xs:int" />
<xs:element name="cores" type="xs:int" />
<xs:element name="hdSize" type="xs:int" />
<xs:element name="time" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="turnOnVirtualClusterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="turnOffVirtualMachine">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
<xs:element name="virtualMachineExID" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="turnOffVirtualMachineResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVirtualMachineExecutions">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
<xs:element name="templateID" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVirtualMachineExecutionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:virtualMachineExecutionWS" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="virtualMachineExecutionWS">
<xs:sequence>
<xs:element name="systemUser" type="xs:string" minOccurs="0" />
<xs:element name="template" type="xs:int" minOccurs="0" />
<xs:element name="virtualMachine" type="xs:int" minOccurs="0" />
<xs:element name="virtualMachineExecutionCode" type="xs:string" minOccurs="0" />
<xs:element name="virtualMachineExecutionCores" type="xs:int" />
<xs:element name="virtualMachineExecutionHardDisk" type="xs:long" />
<xs:element name="virtualMachineExecutionIP" type="xs:string" minOccurs="0" />
<xs:element name="virtualMachineExecutionRAMMemory" type="xs:int" />
<xs:element name="virtualMachineExecutionStart" type="xs:dateTime" minOccurs="0" />
<xs:element name="virtualMachineExecutionStatus" type="xs:int" />
<xs:element name="virtualMachineExecutionStatusMessage" type="xs:string" minOccurs="0" />
<xs:element name="virtualMachineExecutionStop" type="xs:dateTime" minOccurs="0" />
<xs:element name="virtualMachineName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemplateLists">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemplateListsResponse">
<xs:sequence>
<xs:element name="return" type="tns:templateWS" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="templateWS">
<xs:sequence>
<xs:element name="applications" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="customizable" type="xs:boolean" />
<xs:element name="highAvailability" type="xs:boolean" />
<xs:element name="operatingSystem" type="tns:operatingSystemWS" minOccurs="0" />
<xs:element name="templateCode" type="xs:int" minOccurs="0" />
<xs:element name="templateName" type="xs:string" minOccurs="0" />
<xs:element name="templateType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="operatingSystemWS">
<xs:sequence>
<xs:element name="operatingSystemName" type="xs:string" minOccurs="0" />
<xs:element name="operatingSystemType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>